@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Literata&display=swap');

/*div, th {
border:1px solid green; }

th {
border:1px solid green; }

td {
border:1px solid red; }*/

html {
	padding:0;
	margin:0; }

body {
	background-color:#eee;
	font-family:'Didact Gothic';
	padding:0;
	margin:0; }

h1 {
	font:bold 2em/125% 'Didact Gothic', serif;
	text-transform:uppercase;
	padding:0;
	margin:0; }

h2 {
	font:1.75em/125% 'Didact Gothic', serif;
	text-transform:uppercase;
	padding:0;
	margin:0; }

h3 {
	font:1.5em/125% 'Didact Gothic', serif;
	padding:0;
	margin:0; }

h4 {
	font:1.25em/125% 'Didact Gothic', sans-serif; }

h5, button, .project-headers, #navigation li {
	font:.9em/125% 'Didact Gothic', sans-serif; }

p, ul {
	font:1em/175% 'Didact Gothic', sans-serif;
	margin:10px 0 20px 0; }

a {
	color:#001839;
	text-decoration:none; }

a:hover, a:focus {
	color:#0f6aa5; 
	text-decoration:underline; }

i {
	font-size:20px;
	padding:0 5px 0 5px;
	margin:0; }

table {
	width:100%;
	border-collapse:collapse; }

th {
	font:1.25em/125% 'Didact Gothic', sans-serif;
	color:white;
	text-align:left;
	background-color:#0f6aa5;
	border-bottom:1px solid white;
	padding:7px;
	margin:0; }

td {
	vertical-align:top;
	text-align:left;
	padding:7px; }

button {
	background-color:#001836;
	border:1px solid #0f6aa5;
	text-align:center;
	color:white;
	padding:4px 8px;
	margin: 3px 10px; }

button:hover {
	background-color:#0f6aa5; }

select, textarea, input {
	border:2px solid #0f6aa5; }

select {
	width:170px;
	padding:5px; }

textarea, input {
	padding:5px; }

textarea, .previous-goals {
	width:100%;
	height:125px; }

textarea {
resize:vertical; }

/* login page styles */
.body-login {
background-image:url(images/city-landscape.jpg); }

.login-div {
width:800px; 
font-family:Veradana, sans-serif; 
background-color:rgba(0, 0, 0, 0.9); 
color:white; 
border:5px solid black;
border-radius:13px; 
padding:20px 50px 30px 50px; 
margin:20px auto; }

.login-logo {
display:block;
margin:0 auto 20px auto; }

.login-div h1 {
text-align:center; }

.login-table {
width:400px; 
margin:25px auto; }

.login-table td {
vertical-align:top; }

.login-table h3 {
text-align:right;
padding-top:0;
margin-top:0; }

.login-button {
color:white; 
text-transform:uppercase;
background-color:#0f6aa5; 
padding:8px 13px; }

.build-info {
font:1.25em/150% Verdana, sans-serif;
color:white;
text-align:right;
background-color:black;
padding:4px 20px;
margin:3px; }


/* project page effort percentage text box and percent sign */
.effort {
width:80px;
height:40px;
font-size:21px;
text-align:center;
vertical-align:bottom;
resize:none;
padding-top:5px; }

.effort-percent-sign {
font-size:28px;
padding:0;
margin:0; }

.previous-goals {
background:#dedede; 
border:2px solid black;  }

#wrapper {
	width:1600px;
	padding:20px;
margin:0 auto;
overflow:auto;	}

header {
width:100%; 
color:white;
background-color:black;
padding:10px 0;
margin:0 0 25px 0;
overflow:auto; }

#header-wrapper {
	width:1600px;
	padding:0;
	margin:0 auto; }

#branding {
	float:left; 
	width:85px; 
	height:62px; 
	background-image:url(images/logo-gear.png); 
	background-position:center; 
	background-size:contain; 
	background-repeat:no-repeat; 
	padding:0 20px; 
	margin:0 auto; }

#navigation-wrapper {
	float:left;
	padding:0;
	margin:0 25px 0 0; }

#navigation {
	padding:0;
	margin:0; }
	
#navigation ul {
	list-style-type:none;
	padding:20px 0 0 0;
	margin:0; }

#navigation li {
	display:inline-block;
	padding:0;
	margin:0; }

#navigation li a {
	text-align:center;
	text-decoration:none;
	color:white;
	padding:10px; }

#navigation li a:hover, #navigation li a:focus {
	color:#f06022; }
	
.navigation-title {
	font-weight:bold;
	padding-right:10px;
	margin:0; }

/*date picker and lock */

#meta-date-wrapper {
	float:left;
	padding:16px 0 0 0;
	margin:0; }

#meta-date {
	float:left; 
	padding:0; 
	margin:0; }

#meta-date input {
float:right;
width:120px;
height:35px;
font-size:.95em;
font-weight:bold;
text-align:center;
padding:10;
margin:0; }

#meta-lock {
	float:right;
	padding:7px 0 0 10px;
	margin:0; }

#meta-lock a {
	color:white;
	background-color:#f06022;
	border-radius:5px;
	padding:8px;
	margin:0; }
	
#meta-lock a:hover, #meta-lock a:focus {
	background-color:#0f6aa5; }
	
.ui-datepicker-buttonpane {
	text-align:center;
	margin:10px 0 10px 40px; }
	
/*.ui-datepicker-current {
	padding:0 0 30px 0;
	margin:0; }*/
	
/* hides included "Done" button in button panel */	
.ui-datepicker-close {
	visibility:hidden;
	padding:0;
	margin:0; }

/* welcome message and logout button */
#welcome-meta-wrapper {
	float:right;
	padding:25px 0 0 0;
	margin:0; }

#welcomeDiv {
	float:left; 
	color:white; 
	text-align:right; 
	padding-right:15px; }
	
/* logout */
#meta {
	float:right;
	font-size:2em; }

.meta-icons a {
color:#cccccc; }

.meta-icons a:hover, .meta-icons a:focus {
color:#0f6aa5; }


/* Calendar styles */

#ui-datepicker-div {
background-color:white; }

/* controls prev/next buttons */
.ui-datepicker-prev, .ui-datepicker-next  {
text-align:center;
font-weight:bold; }

.ui-datepicker-prev {
margin:0 10px 0 75px; }

.ui-datepicker-next {
margin:0 10px 0 75px; }

/* controls month/year styling */
.ui-datepicker-title {
	font:bold 1.5em/125% 'Didact Gothic', sans-serif;
	text-align:center;
	padding:20px 0; }

/* makes all days and dates the same width */	
#ui-datepicker-div th, #ui-datepicker-div td {
width:30px; }

#ui-datepicker-div { display: none; }

.ui-state-default {
padding:3px; }

/* .ui-state-highlight can use the highlight one to do the current day */
/* .ui-state-hover, .ui-state-focus, .ui-state-active { 
	color:black; 
	text-decoration:none;
	background-color:#ddd;
	padding:3px;
} */

/* .ui-state-highlight can use the highlight one to do the current day */
.ui-state-highlight { 
	color:white; 
	text-decoration:none;
	background-color:#aaa;
}

/* #ui-state-default a { */ /*This doesn't actually highlight the dates */
	/* color:#001839; */
	/* text-decoration:none; } */

/* #ui-state-default a:hover, #ui-state-default a:focus { */
	/* color:white;  */
	/* background-color:#001839; */
	/* text-decoration:underline; } */
	
/* headers above project index projects table */
.project-table-headers {
	background-color:#001839;
	padding:0;
	margin:20px 0 0 0;
	overflow:auto; }
	
.project-table-headers div {
	float:left;
	height:30px;
	color:white; }
	
.project-table-headers h5 {
	font-size:.65em;
	font-weight:bold;
	text-transform:uppercase;
	padding:7px;
	margin:0; }
	
.project-arrow-div {
	width:54px;
	text-align:center; }
	
.project-color-div {
	width:63px;
	text-align:center; }
	
.project-title-div {
	width:972px; }
	
.project-warning-div {
	width:54px; }
	
.project-end-div {
	width:212px; }
	
.project-trash-div {
	width:83px; 
	text-align:center; }
	
/* .project-reorder-div {
	width:86px;
	text-align:center; } */

/* headers above overall view project table */
.overall-table-headers {
	background-color:#001839;
	padding:0;
	margin:20px 0 0 0;
	overflow:auto; }
	
.overall-table-headers div {
	float:left;
	height:30px;
	color:white; }
	
.overall-table-headers h5 {
	font-size:.65em;
	font-weight:bold;
	text-transform:uppercase;
	padding:7px;
	margin:0; }
	
.overall-arrow-div {
	width:52px;
	text-align:center; }
	
.overall-color-div {
	width:65px;
	text-align:center; }
	
.overall-title-div {
	width:974px; }
	
.overall-warning-div {
	width:48px;
	text-align:center; }
	
.overall-edit-div {
	width:46px;
	text-align:center; }
	
.overall-lead-div {
	width:185px; }
	
.overall-end-div {
	width:210px; }
	


#tableDiv {
overflow:auto; }

#projectTable {
width:1600px;
margin: 0 auto 25px auto; }

					/* input[type=text] {
						font-family:'Didact Gothic', sans-serif;
					border:1px solid green; }

					input[type=text]:focus {
					background-color:blue; } */

/* Project header table */

.project-arrow, .project-title, .project-color, .project-status, .project-end, .project-reorder {
height:50px; }

.project-reorder {
width:75px;
text-align:center; }

.project-reorder a {
color:white; }

.project-reorder a:hover, .project-reorder a:focus {
color:aaa; }

.project-arrow {
width:40px; } 

.project-arrow-center {
width:40px;
text-align:center; }

.project-color {
width:30px; } 

.project-title {
width:960px;  }

.project-status {
width:40px;  }

.project-assignments {
width:40px;	}
	
.project-end {
width:200px; }

.project-delete {
width:70px;
text-align:center; } 



/* PROJECT STATUS COLOUR */
.dropdown-content {
font-size:30px; }

.status-green {
color:#00984C; }

.status-yellow {
color:#FFFF00; }

.status-red {
color:#CE181E; }

.status-null {
color: #aaa; }

.project-star {
color:#F7DA00; }

.project-warning {
width:125px;
color:#F7941D; }

.project-trash-no-delete {
color:#ddd; }

/* Stoplight hover size */

.dropbtnGreen, .dropbtnYellow, .dropbtnRed, .dropbtnNull {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* Stoplight dropdown colors */

.dropbtnGreen {
  background-color: #00984C;
}

.dropbtnYellow {
  background-color: #FFFF00;
}

.dropbtnRed {
  background-color: #CE181E;
}

.dropbtnNull {
  background-color: #aaa;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* controls color of circle icon hover state on Project page. this must be set or the generic button hover code takes over. */
.project-color button:hover {
	background-color:#001839; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #001839;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding:2px;
  margin:2px;
}

.dropdown-content a:hover {
background-color: #aaa;
border-radius:4px; }

.dropdown:hover .dropdown-content {
display: block; }

.dropdown:hover .dropbtnGreen {
background-color: #00984C; }

.dropdown:hover .dropbtnYellow {
background-color: #FFFF00;}

.dropdown:hover .dropbtnRed {
background-color: #CE181E; }

/* not used on project page. replaced with project-wrapper divs */
						/* Project "Add Temp Project" button
						.temp-project-select-wrapper {
						float:left;
						width:400px;
						padding:0;
						margin:0; }

						.temp-project-select {
						float:left;
						width:170px; }

						.temp-project-button {
						float:left;
						padding:0;
						margin:0; } */

/* Project header section with text boxes */

.project-headers, .project-headers-overall {
	background-color:#001839;
	color:white;
	height:30px; }

/* projects page textarea td widths */
.effort-percentage-td {
width:8%; }

.project-textarea-td {
width:23%; }


/* blue header "OVERALL" width */
.project-headers-overall {
width:160px; 
}

/* Settings page */
.table-settings-archive {
width:700px;
}

.table-settings-archive td {
width:33%;
vertical-align:top;
}

.table-settings-archive button {
text-align:center;
margin:3px auto;
}




/* Footer section */

.footer-background {
	width:100%;
	background-image:url("images/background.jpg");
	background-attachment:fixed;
	padding:0;
	margin:20px 0 0 0; }

footer {
	color:white;
	background-color:black;
	padding:25px;
	margin:0;
	overflow:auto; }

footer .footer-column {
	float:left;
	width:33%; }

footer a {
	color:white;
	text-decoration:none; }

footer a:hover, footer a:focus {
	color:#f06022; 
	text-decoration:underline; }
	
footer h5 {
	padding:0;
	margin:15px 0 5px 0; }



/* wrappers for the modal */
.div-left {
	float:left;
	width:45%;
	border:1px solid black;
	padding:10px;
	margin:10px; }
.div-right {
	float:right;
	width:45%;
	border:1px solid black;
	padding:10px;
	margin:10px; }
	
	
/* Overall page styles */
.overall-name, .overall-entries {
	border: 1px solid black;
	background-color: white;
} 

.overall-name {
width:10%;
font-weight:bold; 
}

.overall-entries {
width:20%; 
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 20px auto; /* 15% from the top and centered */
  padding: 20px 50px;
  border: 1px solid black;
  background-color:white;
  width:640px; /* width: 1000px; orignal: 1000px Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, 
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Settings page */
.settings-wrapper {
	border-bottom:1px solid black;
	padding:10px 0 25px 0;
	margin:10px 0 20px 0;
	overflow:auto; }
	
/* styling for input forms */
/* wrapper for entire section */
.project-wrapper {
	width:calc(100%-2px);
	border:1px solid #888;
	background-color:#dadada;
	padding:12px 15px;
	margin:25px 0;
	overflow:auto; }
	
/* wrapper for left side column */
.project-wrapper-left {
	float:left;
	width:45%;
	padding:0;
	margin:0; }
	
/* wrapper for right side column */
.project-wrapper-right {
	float:right;
	width:45%;
	border-left:2px solid #888;
	padding:0 0 0 15px;
	margin:0; }
	
/* div for field header/title */
.project-header {
	float:left;
	width:150px;
	padding:0;
	margin:0; }
	
.project-header h4, .project-assignments h4 {
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 0;
	margin:0; }
	
/* div after project-header, for horizontal project fields */
.project-fields {
	float:left;
	font-weight:bold;
	padding:0;
	margin:0; }
	
/* div for vertical project fields */
.project-fields-vertical {
	font-weight:bold;
	padding:10px 0;
	margin:0;
	clear:both; }
	
/* for text boxes in add/remove sections */
.project-assignments {
	float:left;
	width:180px;
	padding:0;
	margin:0; }
	
.project-assignments h5 {
	font-weight:bold;
	padding:3px 0;
	margin:0; }
	
/* for buttons in add/remove sections */
.project-buttons {
	float:left;
	width:100px;
	text-align:center;
	padding:0;
	margin:0; }
	
/* Report page unlocked users section */
.unlocked-users-names {
	font-weight:bold;
	padding:5px 0;
	margin:0 0 0 35px; }

/* table not used, no longer needed */
			/* reports page table div -- so that only table div has scroll bars -- but it's not working
			.div-reports-table {
				width:98%;
				padding:0;
				margin:0;
				overflow:auto; } */

			/* reports page table styling

			#tableData {
			border-top:2px solid black;
			border-right:1px solid #aaa; }

			#tableData th, #tableData td {
			min-width:100px;
			vertical-align:top;
			text-align:center;
			border-left:1px solid black;
			border-bottom:2px solid black; }

			#tableData th {
			font-size:1em;
			text-align:left;
			padding:8px; }

			.reportsRed, .reportsGreen {
			color:white; }

			.reportsRed {
			background-color:#e40303; }

			.reportsYellow {
			background-color:#F7DA00;
			color:black; }

			.reportsGreen {
			background-color:#01b50d; }

			.tableDataFTE {
			color:white;
			background-color:#001839;
			border-left:1px solid white; } */

/* no longer used in edit project modal on overall view page */
				/* .modal-table {
					width:600px;
					margin:20px 0; }

				.modal-table td {
					width:25%;
					padding:20px 0; } */
	/* .ui-state-highlight can use the highlight one to do the current day */
	/* .ui-state-highlight, .ui-state-hover, .ui-state-focus, .ui-state-active {  */
	/* color:white;  */
	/* font-weight:bold; */
	/* background-color:#001839; */
	/* text-decoration:underline; */
	/* padding:3px; */
/* } */

/* .ui-state-default a:hover, .ui-state-default a:focus { */
/* color:pink; } */
	
	
	
	